* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

img {
    width: 13px;
    height: 13px;
    filter: invert(100%);
    padding-top: 3px;
}

footer {
    background-color: rgb(48, 48, 48);
    display: flex;
}

h2 {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
}

p {
    color: white;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header-container {
    display: flex;
    justify-content: end;
}

.header-div {
    padding: 2px;
    margin: 3px;
    background-color: grey;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.row {
    background-image: url(img/866-536x354.jpg);
    background-size: 300px 200px;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-left: 7px;
}

.col-1 {
    background-color: gray;
    color: white;
    margin-top: 150px;
    margin-right: 150px;
    font-size: 13px;
    padding: 3px;
}

.foot-left {
    display: flex;
    padding: 10px;
}

.icon {
    width: 35px;
    height: 35px;
}

.camera {
    margin-left: 20px;
}

.foot-center {
    display: flex;
    padding: 10px;
    margin-left: 450px;
}

.partecipants-div {
    margin-left: 20px;
}

.partecipants-div .icon{
    margin-left: 50px;
}

.polling-div {
    margin-left: 20px;
}

.polling-div .icon {
    margin-left: 5px;
}

.share-div {
    margin-left: 20px;
}

.share {
    filter: invert(0%);
    margin-left: 30px;
}

.record-div {
    margin-left: 20px;
}

.record-div .icon {
    margin-left: 7px;
}

.rooms-div {
    margin-left: 20px;
}

.rooms-div .icon {
    margin-left: 45px;
}

.more-div {
    margin-left: 20px;
}

.foot-right {
    background-color: grey;
    margin-left: 330px;
}

.foot-right p {
    color: red;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}